*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{

 } 

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}

header{
    background-color: #FFF8F3;
    padding-top: 50px;
}
nav{
  width: 71%;
  max-width: 1140px;
  /* border: 1px solid red"" */
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo h2{
  font-size: 45px;
  font-weight: 900px;

}
.btn {
  background-color: #fd6e0a;
  border: none;
  padding: 18PX 35PX;
  border-radius: 5PX;
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.color-orange{
  color: orange;
}

nav .menu{
  display: flex;
  gap: 51px;
  list-style: none;
  align-items: center;
}
nav .menu a {
  font-size: 20px;
  color: #474747;
  text-decoration: none;
}
